<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>All Users</h1>
    </header>
    <main>
        <nav><a href="{{ url_for('home') }}" class="button">Back to Home</a></nav>

        {% with message = get_flashed_messages()|first %}
          {% if message %}
            <div class="flash-message">{{ message }}</div>
          {% endif %}
        {% endwith %}

        {% if users %}
        <ul class="user-list">
            {% for user in users %}
                <li class="user-item">
                    <span>{{ user.name }} - {{ user.movies|length }} movies</span>
                    <a href="{{ url_for('user_movies', user_id=user.user_id) }}" class="button float-right">Go to {{ user.name }}'s movies</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No users found.</p>
        {% endif %}

        <div style="margin-top: 1rem;">
            <a href="{{ url_for('add_user') }}" class="button">Add New User</a>
        </div>
    </main>
</body>
</html>